<html>
<head>
	<title>Home Delivery</title>
    <link rel="stylesheet" href="../asset/home.css">
</head>
<body>
    <form method="post" action=" " enctype="">
        
        <fieldset>
            
        <marquee behavior="scroll"direction="right">
         <h1>Delivery Man</h1>
         </marquee>
        <div class="SSSS"   >
            <a href="up.html"> Update Picture</a></br>
  
        </br>
       
        <a href="../controller/createdeliverystate.php"> Update Delivery State</a></br>
  
</br>

<a href="../controller/createdeliverydate.php"> Update Delivery Date</a></br>
</br>

<a href="../controller/createdeliverylocation.php">Update Delivery Location</a></br>
</br>

<a href="showcontact.php"> Contact Buyer</a></br>
</br>
<a href="../controller/contactadmin.php"> Contact Admin</a></br>
</br>
<a href="../controller/createfarmersprofile.php">Update Farmers Profile</a></br>
</br>

<a href="../controller/createbuyersprofile.php">Update Buyers Profile</a></br>
</br>

<a href="../controller/createproductquantity.php">Update Product Quantity</a></br>
</br>



<a href="ratings.html">Update Ratings</a></br>
</br>

<a href="cratejson.php">Hi Json</a></br>
</br>

 <a href="../controller/logout.php"> Logout </a>

        </div>
</body>
</html>